@import "../styles/partials/variables";
@import "../styles/partials/mixins";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:10rem;
  justify-content: space-around;
  @include tablet {
    background-color: red;
  }


}
.header-functions {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;

}
.header-functions--mohan {
  width: 15vw;
  border-radius: 50%;
  height: 15vw;
}
.header-functions--search {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-inline: 5vw;
  width: 90vw;
  align-items: center;
}
.header-functions--input {
  padding-left: 2rem;
  height: 2rem;
  border-radius: 5px;
  width: 12rem;
  border: 1px solid $Mercury;
  &::placeholder {
        color: pink;
  }

}
.header-functions--mag {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding-inline: 4vw;
}
.header-functions--button {
  background-color: $BrainFlix-Blue;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 4.5rem;
  width: 90vw;
  height: 3rem;
  color: $White;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}
