@import "../styles/partials/variables";
@import "../styles/partials/mixins";
.hero {
    background-color: $White;
}
.hero__video {
    width: 100%;
    @include desktop {
        width: 80vw;
        padding-inline: 10vw;
        background-color: $BrainFlix-DarkBlack;
        height: 36rem;
}
}
.main__header {
    display: flex;
    flex-direction: column;
    width: 95vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    @include tablet {
        text-align: center;
    }
    @include desktop {
        width:55vw;
        padding-left: 6.8vw;
        padding-right: 0vw;
    }
    &--title {
       color: $BrainFlix-Black;
       text-align: left;
       font-size: x-large;
       border-bottom: 2px solid $Mercury;
       padding-bottom: 2rem;
       @include tablet {
        border-bottom: none;
        padding-bottom: 0;
       }

    
    }
}
.main__info {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $Mercury;
    @include tablet {
        margin-top: 1rem;
    }
    @include desktop {
        width:55vw;
    }
    &--date {
        color: $Silver
    }

    &--one {
        display: flex;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        @include tablet {
            flex-direction: row;
            gap: 1.5rem;

        }
    }
    &--two {
        display: flex;
        padding-top: 0.5rem;
        color: $Silver;
        padding-bottom: 1rem;
        align-items: flex-start;
        flex-direction: column;
        gap:0.5rem;
        @include tablet {
            flex-direction: row;
            gap: 1.5rem;
        }
        @include desktop {
            padding-right: 1rem;
        }
    }
    &--views {
        color: $Silver;
    }
    &--channel {
        font-size: 16px;
    }  
    &--video-description {
        padding-top: 1rem;
        text-align: left;
        padding-bottom: 1rem;
        @include desktop {
            width:55vw;
        }

    } 
}
